body{
    background: #efefef;
    color: #333;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:inherit;
}
ul,ol{list-style: none;}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: normal;
}
hr{ 
    height: 0;
    border:none;
    border-top: 1px solid #efefef; 
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }

[data-x].active{
    outline: 10px solid red;
  }
[data-x].offset{
    transform: translateY(100px);
  }
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;
  }
@keyframes slideUp{
    0%{
      transform: translateY(-30px);
    }
    100%{
      transform: translateY(0);
    }
}
.topNavBar{
    position: fixed;
    width: 100%;
    color: #aaa;
    transition: all 1s;
}
.topNavBar.sticky {
    color: #333;
    background: #fff;
    z-index: 1;
    box-shadow:0 0 8px rgba(0, 0, 0, 0.15)
}
.topNavBar-inner{
    padding: 20px 16px;
}
.topNavBar .logo{
    float: left;
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs{
    color: #e6686a;
    margin-right: 4px;
}
.topNavBar .logo .card{
    color: #9a9da2;
}
.topNavBar nav{
    float: right;
    padding-top:8px;
    padding-bottom: 3px;
}
.topNavBar  nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
.topNavBar nav>ul>li>a{
    display: block;
    position: relative;
    color: inherit;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    padding: 5px 0;
}
.topNavBar nav>ul>li.active>a::after,
.topNavBar nav > ul > li.highlight > a::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    background:  #DC6465;
    animation: menuSlide 0.3s;
}
@keyframes menuSlide {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.topNavBar nav>ul>li.active .subMenu {
    display: block;
    animation: subMenuSlide 0.3s;
}
@keyframes subMenuSlide {
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0;
    }

}
.topNavBar .subMenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    color: #3D4451;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.topNavBar .subMenu > li {
    white-space: nowrap;
    padding: 6px 10px;
}

.banner{
    height: 515px;
    background-image: url(./images/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.8);
}
main{
    margin-top: -345px;
}
.userCard {
    max-width: 970PX;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
}
.userCard .pictureAndText{
    padding: 50px;
}
.userCard .picture{
    float: left;
}
.userCard .text{
    float: left;
    margin-left: 64px;
    width: 480px;
}
.userCard .welcome{
    position: relative;
    background-color: #e8676b;
    color: #fff;
    padding: 4px 16px;
    line-height: 22px;
}
.userCard .welcome .triangle{
    position: absolute;
    display:block;
    width:0px;
    border:10px solid transparent;
    border-left-color:#e6686a;
    border-top-width:0;
    left: 6px;
    top: 100%;
}
.userCard .text h1{
    margin-top: 36px;
    margin-bottom: 12px;
}
.userCard .text hr{
    margin:20px 0;
}
.userCard .text dl dt,
.userCard .text dl dd{
    float: left;
    padding: 5px 0;
}
.userCard .text dl dt{
    width:30%;
    font-weight: bold;
}
.userCard .text dl dd{
    width: 70%;
    color: #9a9da2
}
.userCard>footer.media{
    background-color: #e6686a;
    text-align: center;
}
.userCard>footer.media a{
    display: inline-block;
    width: 40px;
    padding: 5px 0;
    line-height: 30px;
    border-radius: 50%;
    margin: 16px;
}
.userCard>footer.media a:hover{
    background-color: #cf5d5f;
}
.userCard svg{
    width: 30px;
    height: 30px;
    fill: #fff;
    vertical-align: top;
}
main .downloadResume{
    text-align: center;
}
main .downloadResume>.button{
    font-size: 14px;
    font-weight: bold;
    color: #3D4451;
    line-height: 20px;
    display: inline-block;
    padding: 20px 52px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 32px 0;
    transition: box-shadow 1s;
}
main .downloadResume>.button:hover{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15)
}
main .SelfIntroduction{
    text-align: center;
    max-width: 940px;
    margin: 0 auto;
    line-height: 30px;
}
section.skills,
section.portfolio{
    max-width: 940px;
    margin: 0 auto;
    margin-top: 60px;
}
section.skills h2,
section.portfolio h2{
    font-size: 32px;
    color: #3D4451;
    font-weight: 600;
    text-align: center;
    
}
section.skills>nav{
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
    padding: 42px 50px 10px;
    margin-top: 30px;
}
section.skills h3{
    font-size: 14px;
    margin: 4px 0;

}
section.skills>nav ol li{
    float: left;
    width: 48%;
    box-sizing: border-box;
}
section.skills>nav ol li:nth-child(even){
    float: right;
}
section.skills>nav ol li .progressBar{
    position: relative;
    height: 5px;
    border-radius: 4px;
    margin:4px 0 32px;
}
section.skills>nav ol li .progressBar::after{
    content: '';
    position: absolute;
    background-color: #DC6465;
    opacity: 0.2;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: 4px;
}
section.skills>nav ol li .progressBar .progress{
    height: 100%;
    width: 70%;
    background-color: #DC6465;
    border-radius: 4px;
}
section.portfolio{
    text-align: center;
    margin-bottom: 60px;
}
section.portfolio nav{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-bottom: 20px;
}
section.portfolio nav ol {
    display: inline-block;
    vertical-align: top;
}
section.portfolio nav ol li{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
section.portfolio nav ol li:nth-child(1){
    margin-left: 0;
}
section.portfolio nav .bar{
    background: #fff;
    height: 5px;
    border-radius: 8px;
    margin-top: 10px;
    
}
section.portfolio nav .bar .bar-inner{
    background: #cf5d5f;
    height: 100%;
    width: 46px;
    border-radius: 8px;
    transition: all 0.6s;
}
section.portfolio nav .bar.state1 .bar-inner{
    margin-left: 0;
}
section.portfolio nav .bar.state2 .bar-inner{
    margin-left: 72px;
}
section.portfolio nav .bar.state3 .bar-inner{
    width: 52px;
    margin-left: 156px;
}
section.portfolio .works{
    position: relative;
    height: 580px;
}
section.portfolio .works .big,
section.portfolio .works .small{
    position: absolute;
}
