body{
    background: #efefef;
    color: #333;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:inherit;
}
hr{ 
    height: 0;
    border:none;
    border-top: 1px solid #efefef; 
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }

.topNavBar{
    position: fixed;
    width: 100%;
}
.topNavBar-inner{
    padding: 20px 16px;
}
.topNavBar .logo{
    float: left;
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs{
    color: #e6686a;
    margin-right: 4px;
}
.topNavBar .logo .card{
    color: #9a9da2;
}
.topNavBar nav{
    float: right;
    padding-top:8px;
    padding-bottom: 3px;
}
.topNavBar  nav > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar nav>ul>li>a{
    display: block;
    color: azure;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    padding: 5px 0;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #DC6465;
}
.banner{
    height: 515px;
    background-image: url(./images/rs-cover.jpg);
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.8);
}
main{
    margin-top: -345px;
}
.userCard {
    max-width: 970PX;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 2px 3px 8px -2px rgba(0, 0, 0, 0.75);
}
.userCard .pictureAndText{
    padding: 50px;
}
.userCard .picture{
    float: left;
}
.userCard .text{
    float: left;
    margin-left: 64px;
    width: 460px;
}
.userCard .welcome{
    position: relative;
    background-color: #e8676b;
    color: #fff;
    padding: 4px 16px;
    line-height: 22px;
}
.userCard .welcome .triangle{
    position: absolute;
    display:block;
    width:0px;
    border:10px solid transparent;
    border-left-color:#e6686a;
    border-top-width:0;
    left: 6px;
    top: 100%;
}
.userCard .text h1{
    margin-top: 36px;
}
.userCard .text hr{
    margin:20px 0;
}
.userCard .text dl dt,
.userCard .text dl dd{
    float: left;
    padding: 5px 0;
}
.userCard .text dl dt{
    width:30%;
    font-weight: bold;
}
.userCard .text dl dd{
    width: 70%;
    color: #9a9da2
}
.userCard>footer.media{
    background-color: #e6686a;
    text-align: center;
}
.userCard>footer.media a{
    display: inline-block;
    width: 40px;
    padding: 5px 0;
    line-height: 30px;
    border-radius: 50%;
    margin: 16px;
}
.userCard>footer.media a:hover{
    background-color: #cf5d5f;
}
.userCard svg{
    width: 30px;
    height: 30px;
    fill: #fff;
    vertical-align: top;
}
